html {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom right, #013c4a 0, #193e4c 44%, #004b5b 100%);
	color: #fff;
	font-family: GeoSlb712MdBT, Georgia, serif;
	font-style: normal;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
}
.window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.centerbox {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#user-reg,
#save-verse {
	width: 27rem;
	height: 13.5rem;
}
.title {
	padding: 5px; /* 0.3125rem */
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 1rem;
}
.message {
	text-align: center;
	font-size: 1.25em;
	/* margin-bottom: 1.5rem; */
	color: #ffcc44;
}
.sub-title {
	padding: 5px; /* 0.3125rem */
	font-size: 1.25em;
	text-align: right;
}
.sub-title > a {
	color: #fff;
	text-decoration: none;
}
.red {
    color: #DD3300;
}

form {
	width: 100%;
	margin: auto;
	margin-top: 2.5rem;
}
#input-email,
#input-verse {
	margin-top: 1rem;
	border: none;
	border-bottom: 1px solid #C5C6C6;
	border-radius: 0px;
    color: #C5C6C6;
}
.input-label {
    position: absolute;
    left: 0.5rem;
    bottom: 0.9rem;
    color: #898989;
    font-size: 14pt;
    transition: bottom 0.15s ease-out, color 0.15s ease-out, font-size 0.15s ease-out;
}
.input-frame.labelup > .input-label {
    bottom: 3.4rem;
	font-size: 10pt;
}
.input-frame {
    position: relative;
    width: 100%;
    margin-top: 0.5rem;
}
.input-frame > #input-email,
.input-frame > #input-verse {
	width: calc(100% - 1rem);
    height: 2.5rem;
    margin: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
    font-size: 14pt;
    font-style: normal;
    background-color: transparent!important;
    position: relative;
    box-sizing: content-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    /*box-shadow: 0 0 0 30px transparent inset !important; funktioniert nicht */
    box-shadow: 0 0 0 30px #16586B inset !important; /* #114251 */
    /*background-color: transparent; funktioniert nicht */
    -webkit-text-fill-color: #C5C6C6 !important;
    border: none!important;
}
.button {
	width: 100%;
	height: 3.125rem; /* 50px; */
	margin: auto;
	text-align: center;
	margin-top: 0.625rem; /* 10px; */
	background-color: #1B6A82; /* dunkler: #082128 oder heller: #1B6A82 */
	color: #C5C6C6;
	font-size: 15pt;
	outline: none;
	border: none;
	border-radius: 3px;
}
.button:hover {
	background-color: #16586B;
}


@media screen and (max-width: 750px) {
	.title {
		font-size: 1.5em; /* 1.25em */
	    margin-bottom: 0.8rem;
	}
	.message {
		font-size: 0.9em;
	}
	.sub-title {
		font-size: 0.9em;
	}
	form {
		margin-top: 1.8rem;
	}
	#user-reg,
	#save-verse {
		width: 19rem; /* 70% */
		height: 10rem; /* 70% */
	}
	.input-label {
		bottom: 0.7rem;
		font-size: 11pt;
		/* TODO: width, height, margin, bottom etc. */
	}
	.input-frame.labelup > .input-label {
		bottom: 2.5rem;
		font-size: 8pt;
	}
	.input-frame > #input-email,
    .input-frame > #input-verse	{
		height: 1.75rem;
		font-size: 10pt;
		/* TODO: width, height, margin, bottom etc. */
	}
	.button {
		height: 2.2rem;
		font-size: 11pt;
	}
}
@media screen and (max-width: 500px) {
	.title {
		font-size: 1.1em; /* 0.85em; */
	    margin-bottom: 0.6rem;
	}
	.message {
		font-size: 0.7em;
	}
	.sub-title {
		font-size: 0.7em;
	}
	form {
		margin-top: 1.25rem;
	}
	#user-reg,
	#save-verse {
		width: 13.5rem; /* 70% */
		height: 8.5rem; /* 70% */
	}
	.input-label {
		bottom: 0.6rem;
		font-size: 8pt;
		/* TODO: width, height, margin, bottom etc. */
	}
	.input-frame.labelup > .input-label {
		bottom: 1.8rem;
		font-size: 6pt;
	}
	.input-frame > #input-email,
    .input-frame > #input-verse {
		height: 1.225rem;
		font-size: 7pt;
		/* TODO: width, height, margin, bottom etc. */
	}
	.button {
		height: 1.56rem;
		font-size: 8pt;
	}
}
